pre.dir-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #3eaf7c;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;

code .token.variable
  color: #fff
  
	th 
	  font-size: 16px;
	td 
	  font-size: 14px;

  td > code 
  font-size: 15px!important;

.support-yes, .support-no
  border : none;  
.support-yes, .example-yes
  background-color: #8ce48c;
  text-align: center;
.support-no, .example-no
  background-color: #e89b9b;
